body {
    background-color: whitesmoke;
}

p{
    margin:0;
    padding:10px;
}

h2{
    padding-top: 10px;
}



.github{
    color: #6cc644;
}

.bitbucket{
    color: #205081;
}

.youtube{
    color: red;
}

.linkedin{
    color: #007bb5;
}

.email{
    color: black;
}

.icons{
    align-content: right;
    text-decoration: none;
    margin-top: 15px;



}

.left_aligned_text{
    text-align: left;
    margin-left: 35px;
}

#home_container {
    background-color: #222;
    color: white;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 45px;
}

#aboutSelf_container {
    background-color: red;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 45px;
}

#cv_container {
    background-color: greenyellow;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 45px;
}

#finishedProjects_container {
    background-color: #4a831c;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 45px;
}

#currentProjects_container {
    background-color:  navajowhite;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 45px;
}

#contact_container{
    background: whitesmoke ;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 45px;
}